p{
    text-align: center;
}

.normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34;
}

.especial{
    background-color: khaki;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40;
}
