body{
    background-color: khaki;
}

.titulos{
    text-align: center;
}
.principal{
      /* Fondo */
  background-color: #f0f0f0; /* Un gris claro para el fondo de la caja */

  /* Borde */
  border: 1px solid #ccc; /* Un borde sólido de 1px gris */
  border-radius: 8px; /* Bordes ligeramente redondeados */

  /* Espaciado interno */
  padding: 20px; /* Espacio entre el contenido y el borde de la caja */

  /* Sombra */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Una sombra suave */

  /* Márgenes (espacio alrededor de la caja) */
  margin: 5px auto; /* Centra la caja horizontalmente y le da margen arriba/abajo */

  /* Ancho máximo (opcional, para que no se extienda por toda la pantalla) */
  max-width: 100%; /* La caja no será más ancha de 600px */
}

#secundario{
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 3px 3px 7px rgba(1, 1, 1, 0.5);
    margin: 7px auto;
    max-width: 100%;
}

#link:hover{
    cursor: pointer;;
}

#link{
    text-align: center;
}

.t{
    font-weight: bolder;
    font-style: italic;
}

.s{
    font-weight: bolder;
    font-style: italic;
}